<h1>Listing All Physicians In AppointmentMD</h1>
<br><br>
<h2>
  <% @physicians.each do |physician| %>
  <ul>
    <li><%= link_to "#{physician.name}", physician_path physician %></li>
    <ul>
      <% end %>
    </h2>
