<h1> Welcome to AppointmentMD<h1>


<h2><p><%= link_to('Log in with Facebook!', '/auth/facebook') %><p></h2>
<h2><p><%= link_to "Sign In", signin_path %></p><br></h2>
<h2><p><%= link_to "Sign Up", new_patient_path %></p><br></h2>
<br><br>
If You are a Physician, please Sign Up by clicking the link below
<h2><p><%= link_to "Physician Sign Up", new_physician_path %></p><br></h2>
